.containerAI{
    display: flex;
    align-items: center;
    justify-content: center; 
    height:100vh ;
   
    background: url("../../public/images/image1.jpg") center center/cover no-repeat;
    color: rgba(99, 32, 238, 0.3); 
    }
    .text{
      font-size: 60px;
    }
  .grid-containerAI{
      width: 900px;
      height: 730px;
      padding: 15px;
      border-radius: 30px;
      box-shadow: 8px 10px rgba(99, 32, 238, 0.2);
      background-color:#fff;
   
  }


  .colonne-2AI{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      
   
  }
  .register-formAI{
    display: flex;
    flex-direction: column;
  }
  .colonne-2AI >h2{
      font-size: 25px;
      color:rgba(99, 32, 238);
      margin: 10px;
    
     
  }
  .lien{
  
    color:rgba(99, 32, 238);
    margin-left: 120px;
   
  }

  .user-input {
    padding: 10px;
    margin-bottom: 2px;
    border: 3px;
    border: rgba(99, 32, 238);
    border-radius: 10px;
    background-color:rgba(99, 32, 238,0.4) ;
  }
 
  label{
    font-weight: bold;
    color:  rgba(99, 32, 238);
    margin-bottom: 3px;
    height: 20px;
  }
  textarea {
    padding: 0.4rem;
    width: 90%;
    border: 1px solid;
  }
  .colonne-2 >h2{
    font-size: 30px;
    margin-bottom: 0px;
   
  }
  .submitBTNAI{
    margin-left:300px ;
    margin-top: 10px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color:  rgba(99, 32, 238);
    background-color:rgba(99, 32, 238,0.2);
    border-color: rgba(99, 32, 238) ;
    cursor: pointer;
  }
  .submitBTNAI:hover{
    color:  rgba(255, 255, 254);
    background-color:rgba(99, 32, 238,0.8);
  }
  @media screen and (max-width: 960px){
      .grid-containerAI{
          width: 550px;
          height: 730px;
         
      }  
      .colonne-2 >h2{
          font-size: 25px;
          margin: 25px;
         
      }
      .lien{
          padding-left: 20px;
          margin-left: 35px;
         
        }
        input {
          padding: 5px;
          margin-bottom: 2px;
          border: 1px;
         
        }
        .submitBTNAI{
          margin-left:70px ;
          margin-top: 13px;
          width: 120px;
          height: 25px;
         
        }
  }
  
  @media screen and (max-width: 600px){
    .grid-containerAI{
      width: 450px;
      height: 750px;
     
  } 
  .colonne-2AI >h2{
    font-size: 22px;
    margin: 15px;
  }
  .submitBTNAI{
    margin-left:45px ;
    margin-top: 15px;
  }
  }
  