.Post{
 border: 3px solid;
 margin: 10px ;
 width: 300px;
}
.post_title{
  font-size: 30px;
  font-weight: bold;
}
.post_body{
    font-size: 15px;
    margin-top: 5px;
}
.List_Post{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}