footer {
    background-color:rgba(99, 32, 238, 0.8) ;
    padding: 100px ;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #fff;
    margin-top: 100px;
  }
  footer h7 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    
  }
  
  footer p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  footer li {
    margin-bottom: 10px;
    opacity: 0.5;
  }
